/* mexendo no fundo da pagina*/
body {
    box-sizing: border-box;
    background-color: rgb(2, 26, 34);
}

/* colocando uma caixa ao redor da pagina*/
.titulo_1{
            background-color: rgb(173, 230, 173);
            margin: 10px;
            padding: 20px;
            min-height: 100vh;
            box-sizing: border-box;
}

/*estou colocando as duas box lado a lado*/
.esquerda_direita{
            display: flex; 
            gap: 5px;
}

.caixa_cronometro, .caixa_metodologias{
            width: 300px;
            height: 300px;
            background-color: rgb(173, 230, 173);
            border: 2px solid navy;
            font-size : 16px;
            flex: 1;
            
            border-radius: 20px;

}

/* criando um checklist*/
.Tarefas {
            width: 90%;
            height: 300px;
            background-color: lightblue;
            border: 2px solid navy;
            padding: 20px;
            margin: 10px;
            font-size : 16px;
            border-radius: 20px;
}

.tarefa1{
            width: 90%;
            height: 50px;
            background-color: rgb(173, 230, 173);
            border: 2px solid navy;
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
}

.tarefa2{
            width: 90%;
            height: 50px;
            background-color: rgb(173, 230, 173);
            border: 2px solid navy;
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
}

.tarefa3{
            width: 90%;
            height: 50px;
            background-color: rgb(173, 230, 173);
            border: 2px solid navy;
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
}
