:root {
  --bg: #050816;
  --texto: #eef0ff;
  --suave: #9aa3c7;
  --azul: #4da3ff;
  --roxo: #8b6cff;
  --rosa: #ff5fa2;
  --verde: #2fd4a0;
  --ouro: #ffb627;
  --vidro: rgba(255, 255, 255, .06);
  --borda: rgba(255, 255, 255, .12);
  --raio: 24px;}

*{
    box-sizing: border-box;
    margin: 0;}
body{
    font-family: 'Poppins', system-ui, sans-serif;
    padding: 22px;
    border: 1px solid;
    margin-bottom: 16px;
    background:radial-gradient(60% 45% at 78% 8%, rgba(59, 146, 246, 0.16), transparent 60%),
    #0d1220;
    color: var(--texto);
    min-height: 100vh;}
header{
    display: flex;
    align-items: center;
    justify-content: center;}
a{
    color: inherit;
    text-decoration: none;}



/*Parte do topo/cabeçalho*/
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 24px;}
.logo{
    display: flex;
    align-items: center;
    gap: 12px;}
.logoIcon{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(135deg, var(--roxo), var(--azul), black, var(--ouro));}
.logo small{
    display: block;
    font-size: .65rem;}
nav{
    display: flex;
    gap: 28px;
    margin-top: 2em;
    color: var(--suave);}
nav a:hover, nav .ativo{color:var(--texto);}



/*Parte de escrita do incio*/
.hero{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    max-width: 80vw;
    gap: 48px;
    align-items: center;
    padding: 72px 24px 40px;
    margin: 0 auto;}
.hero p{
    max-width: 25vw;
    margin: 24px 0 32px;
    color: var(--suave);}

.metodologias{
    margin: 0 auto;
    width: 80vw;
}

.selo{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    padding: 5px 14px;
    border: 1px solid var(--borda);
    border-radius: 999px;
    font-size: 0.75rem;
    color: var(--suave);}
.selo i{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--verde);}
h1{
    font-size: clamp(2.4rem, 6vw, 3.3rem);
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: .01em;}
.grad{
    padding: 0px 8px;
    background: var(--roxo);
    border-radius: 20px;
    background-clip: text;
    color: transparent;}
.btn{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;}
.btn-prim, .btn-sec{
    border: none;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px 25px;
    transition: all .3s;
    cursor: pointer;}
.btn-prim:hover, .btn-sec:hover{ color: var(--suave);transform: scale(1.05); transition: all 0.3s;}
.btn-prim{
    background:linear-gradient(135deg, #3bf66a, #22adee);
    box-shadow: 0 10px 30px rgba(100, 214, 255, .2);}
.btn-sec{
    background: var(--vidro);
    border: 1px solid var(--borda);}
.btnEntrar{
    color: var(--suave);
    padding: 10px 28px 10px;
    border-radius: var(--raio);
    border: .6px solid var(--borda);
    background-image: linear-gradient(135deg, var(--azul), var(--ouro));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: all .2s ease;
    font-size: 12px;}
.btnEntrar:hover{
    transition: all .2s ease;
    color: white;
    font-weight: 700;
    transform: scale(1.1);
    background-size: 100% 100%;}



/*Flashcard 3d*/
.flip{
    perspective: 1000px;
    height: 310px;
    cursor: pointer;}
.flipInner{
    position: relative;
    height: 100%;
    width: 80%;
    transform-style: preserve-3d;
    transition: .7s;}
.flip:hover .flipInner, .flip:focus-visible .flipInner, .flip.virado .flipInner{
    transform: rotateY(180deg);}
.face{
    position: absolute;
    inset: 0;
    padding: 20px;
    display: flex;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--borda);
    border-radius: var(--raio);
    background: var(--vidro);
    backdrop-filter: blur(14px);}
.Verso{
    transform: rotateY(180deg);}
.face small{
    font-size: .7rem;
    letter-spacing: .15em;
    color: var(--azul);}
.face h3{
    font-size: 1.5rem;
    line-height: 1.25;}
.dica{
    font-size: 0.65rem;
    color: var(--suave);}



/*Cards de exemplo*/
.cards{
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 24px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;}
.card{
    padding: 24px;
    border: 1px solid var(--borda);
    border-radius: var(--raio);
    background: var(--vidro);
    backdrop-filter: blur(14px);}
.card h2{
    margin-bottom: 16px;
    font-size: 0.9rem;
    font-weight: 500;}
.linha{
    display: flex;
    align-items: center;
    gap: 14px;}



/* Card do pomodoro*/
.tempo{
    font-size: 3rem;
    font-weight: 700;
    font-variant-numeric: tabular-nums;}
.ciclos{
    padding: 3px 10px;
    border-radius: 999px;
    font-size: 0.7rem;
    font-weight: 600;
    background: rgba(139, 100, 255, 0.25);
    color: var(--suave) ;}
.barra{
    height: 6px;
    margin: 16px 0;
    border-radius: 99px;
    background: rgba(255,255,255, 0.1);
    overflow: hidden;}
.barra div {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, var(--roxo), var(--azul));
    transition: width 0.5s linear;}
.botoes{
    display: flex;
    gap: 10px;}
.botoes button{
    flex: 1;
    padding: 10px; 
    border: 1px solid var(--borda);
    border-radius: 12px;
    background: transparent;
    color: inherit;
    font: inherit;
    font-size: 0.85rem;
    cursor: pointer;}
.botoes button:hover{
    background: rgba(255, 255, 255, 0.08);}
.botoes .iniciar {
    background: #e8ecff;
    color: #0a0f2c;
    border: 0;
    font-weight: 500;}
.botoes .iniciar:hover{
    background: #ffffffba;}



/* Card dos checklists*/
.metas{
    list-style: none;
    padding: 0;
    display: grid;
    gap: 12px;}
.metas label{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-size: 0.9rem;}
.metas input{
    appearance: none;
    -webkit-appearance: none;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    display: grid;
    place-content: center;
    border: 2px solid var(--suave);
    border-radius: 50%;}
.metas input:checked{
    background: var(--verde);
    border-color: var(--verde);}
.metas input:checked::after{
    content: "x";
    font-size: 0.8rem;
    font-weight: 700;
    color: #000000;}
.metas input:checked + span{
    text-decoration: line-through;}
.resumo{
    margin-top: 10px;
    font-size: 0.75rem;
    color: var(--suave);}



/*Parte atoa das recompensas/ideia futura*/
.medalha{
    width: 68px;
    height: 68px;
    display: grid;
    place-items: center;
    border-radius: 18px;
    font-size: 2rem;
    background: linear-gradient(135deg, var(--ouro), var(--verde));}
.premio small{
    display: block;
    font-size: 0.75rem;
    color: var(--suave);}
.semana{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 24px;
    text-align: center;
    font-size: 0.65rem;
    color: var(--suave);}
.semana span{
    display: grid;
    justify-items: center;
    gap: 8px;}
.semana i{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #394063;}
.semana .feito{
    background: var(--verde);}
.semana .hoje{
    color: var(--ouro);}
.semana .hoje i{
    background: var(--ouro);}

.cardx{
    position: relative;
    padding: 24px;
    border: 1px solid var(--borda);
    border-radius: var(--raio);
    background: var(--vidro);}
.cardx .blur{filter: blur(2px);}
.cardx::before{
    content: "";
    position: absolute;
    border-radius: var(--raio);
    inset: 0;
    background: rgba(0, 0, 0, 0.181);
    z-index: 7;}
.bloqueio{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 7;}

/*Parte de metodologias*/
.metodologias{
    display: grid;
    margin: 0 auto;
    max-width: 80vw;
    align-items: center;}
.cabeca{
    margin-top: 10px;
    color: var(--suave);}
.filtros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 36px 0 20px;}
.filtros button{
    font: inherit;
    font-size: 0.85rem;
    padding: 9px 20px;
    border: 1px solid var(--borda);
    border-radius: 999px;
    background: var(--vidro);
    color: var(--suave);
    cursor: pointer;
    transition: .2s;}
.filtros button:hover{
    color: var(--texto);}
.filtros button[aria-pressed="true"]{
    background: linear-gradient(90deg, var(--roxo), var(--azul));
    color: #fff;
    border-color: transparent;}

.grade{
    display: grid;
    gap: 24px;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}
.metodo{
    display: flex;
    flex-direction: column;
    gap: 12PX;
    padding: 14px;
    border: 1px solid var(--borda);
    backdrop-filter: blur(14px);
    transition: all 0.25s;}
.metodo:hover{
    transform: scale(1.04);
    border-color: #0a0f2c;}
.metodo h3{
    font-size: 1.15rem;
    line-height: 1.3;}
.metodo p{
    font-size: 0,9rem;
    color: var(--suave);}

.topo{
    display: flex;justify-content: space-between;
    align-items: center;}
.icone{
    width: 44px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 18px;
    font-size: 0.9rem;
    background: linear-gradient(135deg, rgba(0, 85, 254, 0.609)), rgba(255,255,255,0.1);}
.tag{
    padding: 4px 12px;
    border: 1px solid var(--azul);
    border-radius: 999px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform:uppercase;
    color: white;}
.meta{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;}
.meta li{
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 0.75rem;
    background: rgba(255, 255, 255, .07);}
details{
    padding-top: 14px;
    border-top: 1px solid var(--borda);}
summary{
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 0.85rem;
    font-weight: 600;
    color: #4da3ff;}
ol{
    margin-top: 14px;
    padding-left: 20px;
    display: grid;
    gap: 8px;
    font-size: 0.8rem;
    color: var(--suave);
    li::marker{
        color: rgb(131, 235, 157);
        font-weight: 700;}}


/* Parte da sugestao de rotina*/
.rotina{
    margin-top: 60px;
    padding: 30px 25px;
    text-align: center;
    background: var(--vidro);
    border: 1px solid var(--borda);
    border-radius: 55px;
    h2{
        font-size: 1rem;}
    p{
        margin-top: 10px;
        color: var(--suave);
        font-size: 0.85rem;}}
.passos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    span{
        padding: 10px 18px;
        border-radius: 999px;
        border: 1px solid var(--borda);
        transition: all 0.3s;
        background: linear-gradient(90deg, rgba(190, 77, 243, 0.202) , rgba(84, 166, 247, 0.202)) ;
        font-size: 0.85rem;
        cursor: pointer;}
     span:hover{
        transform: translateY(-20%) scale(1.04);
        transition: all 0.3s;
    }}


/* Sessao Sobre*/
.sobre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}


.arrows{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.arrows button{
    top: 60%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


.arrows button:first-child img {
    transform: scaleX(-1);
}

.arrows button:hover{
    background-color: #beff1b;

}

.arrows button img{
    width: 30px;
    margin-top: 4px;
}

.lista{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

section .lista .item{
    position: absolute;
    inset: 0;
}

section .lista .item .car-img{
    position: absolute;

    top: 35%;
    transform: translate(-50%);
    width: 60%;
}

section .lista .item .car-img::before{
    content: '';
    display: none;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100px;
    top: 140%;
    left: 30px;
    border: 50%;
    filter: blur(60px);
    opacity: 60%;

}

section .lista .item .car-img img{
    width: 100%;
    transform: rotate(0deg);
}

.carrocel{
    position: absolute;
    padding: 10px 10%;
    right: 0px;
    width: 41%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

.carrocel .car-information{
    font-weight: bold ;
}
.carrocel h2{
    font-size: 3rem;
    line-height: 1em;
}
.carrocel .description{
    color: #d9d9d9d9;
    font-size: 12px;
    text-align: right;
    max-width: 400px;
}
.carrocel .information{
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #660ebd;
    background-color: #beff1b;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


section .lista::before{
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    border-top: 1px solid white;
    display: none;
}

.indicators {
    position: absolute;
    left: 30px;
    bottom: 30px;

    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

section .indicators .number{
    font-size: 5sem;
}
section .indicators ul{
    display: flex;
    gap: 10px;
}
section .indicators ul li{
    width: 50px;
    height: 50px;
    background-color: #beff1b;
    border-radius: 5px;
    transition: 0.5s;
}

section .indicators ul .active{
    background-color: white;
}
.lista{
    --calculation: 1;
}

section .lista .item{
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.5s;
    opacity: 0;
}

section .lista .item .car-img{
    transform: rotate(0);
    transition: 0.5s;
    transition-delay: 0.3s;
    opacity: 0.2;
}


.carrocel,
section .lista .item .car-information,
section .lista .item h2,
section .lista .item .description,
section .lista .item .information {
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}
.carrocel h2{
    transition-delay: 0.5s;
    text-shadow: 1px 1px 3px black;
}
.description{
    transition-delay: 0.7s;
    text-shadow: 2px 2px 2px black;
}
.information{
    transition-delay: 0.9s;

    
}

.information:hover{
    box-shadow: 3px 1px 100px 10px rgb(208, 255, 0);
    
}
section .lista .item.active {
    transform: translateX(0);
    transition: 0.5s;
    opacity: 1;
}
.carrocel,
section .lista .item.active .car-information,
section .lista .item.active h2,
section .lista .item.active .description,
section .lista .item.active .information {
    transform: translateX(0);
    opacity: 1;
}

section .lista .item.active .car-img{
    transform: rotate(-20deg);
    opacity: 1;
}


/*Responsividade mais ou menos*/
@media (max-width: 860px){
    .hero {grid-template-columns: 1fr;
    padding-top: 30px;}
    nav{
        display: none;}}
@media (prefers-reduced-motion: reduce){
    *{transition: none !important}}