<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina teste</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="topbar">
        <a class="logo" href="#">
            <span class="logoIconInative"> </span>
            <span> <strong>Sensus Flow</strong> <small>Educação Inclusiva</small> </span>
        </a> 

        <nav class="navbar">
            <a href="#inicio">Inicio</a>
            <a href="#metodologias">Metodologias</a>
            <a href="#sobre">Sobre</a>
        </nav>
        <a class="btnEntrar" href="#">Entrar</a>
    </header>

    <main class="hero">
        <section id="inicio" class="inicio">
        
            <div class="textoInicial">
                <span class="selo"><i></i>Feito para mentes neurodivergentes</span>
                <h1>Quando tudo parecer demais,<br><span class="grad"> encontre o seu fluxo.</span></h1>
                
                <p class="subtitulo">Transforme o que você precisa estudar em um plano que realmente cabe no seu dia.<br> Com tempo para focar, respirar e continuar.</p>
        
                <div class="btn">
                    <button class="btn-prim" onclick="window.location.href='/loginPage'" >Comece agora</button>
                    <button class="btn-sec">Saiba mais</button>
                </div>
            </div>
        </section>
        
    <!--O flashcard tem 2 divs, cada div é um lado, aparece 1 lado por vez-->
        <div class="flip" id="flashcard" tabindex="0" >
            <div class="flipInner">

                <div class="face Frente">
                    <small>PERGUNTA . BIOLOGIA</small>
                    <h3>Qual a função principal da mitocôndia?</h3>
                    <span class="dica">Passe o mouse para virar -></span>
                </div>
                <div class="face Verso">
                    <small>RESPOSTA</small>
                    <h3> Produzir energia (ATP) através da respiração celular.</h3>
                    <span class="dica"><-Passe o mouse para voltar</span>
                </div>
            
            </div>
        </div>
    </main>

    <section class="cards">
    
        <!--Card ilustrativo do metodo Pomodoro-->
        <article class="card">
            <h2>Foco guiado . Pomodoro</h2>
            <div class="linha">
                <span class="tempo" id="tempo">25:00</span>
                <span class="ciclos" id="ciclos">0 / 4 ciclos</span>
            </div>
            <div class="barra"><div id="progresso"></div></div>
            <div class="botoes">
                <button class="iniciar" id="btnPausar">Iniciar</button>
                <button id="btnPular">Pular</button>
            </div>
        </article>

        <!--Card ilustrativo dos checklists-->
        <article class="card">
            <h2>Metas de hoje . visiveis</h2>
            <ul class="metas" id="metas">
                <li><label>
                        <input type="checkbox" data-min="10">
                        <span>Ler capítulo 3</span>
                </label></li>

                <li><label>
                        <input type="checkbox" data-min="15">
                        <span>12 flash cards</span>
                </label></li>

                <li><label>
                        <input type="checkbox" data-min="15">
                        <span>Escrever resumo</span>
                </label></li>

                <li><label>
                        <input type="checkbox" data-min="10">
                        <span>Revisar conteudo</span>
                </label></li>
            </ul>
            <p class="resumo" id="resumo"></p>
        </article>

        <!--Card ilustrativo de recompensas, so pra encher linguiça por enquanto-->
        <article class="cardx">
            <img class="bloqueio" src="../static/img/bloqueio.png" alt="">
                <div class="blur">
                    <h2>Recompensas</h2>
                    <div class="Linha">
                        <div class="medalha">$</div>
                        <div class="premio">
                            <strong>Sequencia de 7 dias</strong>
                            <small>+120 XP . proximo: Nivel 4</small>
                        </div>
                    </div>
                    <div class="semana" id="semana"></div>
                </div>
        </article>
    </section>

        
    <section class="metodologias" id="metodologias">

        <div class="cabeca">
            <span class="selo">Metodologias de estudo</span>
            <h1>Métodos que <span class="grad"><br>respeitam seu cerebro</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae amet ut placeat praesentium autem at, ullam, dolores excepturi voluptates aliquam quae totam eum facere nemo dolorum sunt animi eligendi qui?</p>
        </div>

        <div class="filtros" role="group">
            <button aria-pressed="true">Todas</button>
            <button>Foco</button>
            <button>Memória</button>
            <button>Organização</button>
            <button>Motivação</button>
        </div>

        <section class="grade">
            <article class="metodo">
                <div class="topo">
                    <span class="icone">%</span>
                    <span class="tag">Foco</span>
                </div>
                <h3>Pomodoro adaptável</h3>
                <p>Blocos curtos de foco com pausas planejadas. Você ajusta o tempo à energia do dia</p>
                <ul class="meta">
                    <li>$ 15-30 min</li>
                    <li>$ Energia: baixa a média</li>
                </ul>

                <details>
                    <summary>Como funciona</summary>
                    <ol>
                        <li>Escolha UMA tarefa pequena</li>
                        <li>Defina 15,25 ou 30 minutos</li>
                        <li>faca uma pausa de 5 min longe das telas</li>
                        <li>A cada 4 ciclos, faca uma pausa longa</li>
                    </ol>
                </details>
            </article>

            <article class="metodo" data-cat="foco">
                <div class="topo">
                    <span class="icone">%</span>
                    <span class="tag">Foco</span>
                </div>
                <h3>Pomodoro adaptável</h3>
                <p>Blocos curtos de foco com pausas planejadas. Você ajusta o tempo à energia do dia</p>
                <ul>
                    <li>$ 15-30 min</li>
                    <li>$ Energia: baixa a média</li>
                </ul>

                <details>
                    <summary>Como funciona</summary>
                    <ol>
                        <li>Escolha UMA tarefa pequena</li>
                        <li>Defina 15,25 ou 30 minutos</li>
                        <li>faca uma pausa de 5 min longe das telas</li>
                        <li>A cada 4 ciclos, faca uma pausa longa</li>
                    </ol>
                </details>
            </article>

            <article class="metodo" data-cat="">
                <div class="topo">
                    <span class="icone">%</span>
                    <span class="tag">Foco</span>
                </div>
                <h3>Pomodoro adaptável</h3>
                <p>Blocos curtos de foco com pausas planejadas. Você ajusta o tempo à energia do dia</p>
                <ul>
                    <li>$ 15-30 min</li>
                    <li>$ Energia: baixa a média</li>
                </ul>

                <details>
                    <summary>Como funciona</summary>
                    <ol>
                        <li>Escolha UMA tarefa pequena</li>
                        <li>Defina 15,25 ou 30 minutos</li>
                        <li>faca uma pausa de 5 min longe das telas</li>
                        <li>A cada 4 ciclos, faca uma pausa longa</li>
                    </ol>
                </details>
            </article>

            <article class="metodo">
                <div class="topo">
                    <span class="icone">%</span>
                    <span class="tag">Foco</span>
                </div>
                <h3>Pomodoro adaptável</h3>
                <p>Blocos curtos de foco com pausas planejadas. Você ajusta o tempo à energia do dia</p>
                <ul>
                    <li>$ 15-30 min</li>
                    <li>$ Energia: baixa a média</li>
                </ul>

                <details>
                    <summary>Como funciona</summary>
                    <ol>
                        <li>Escolha UMA tarefa pequena</li>
                        <li>Defina 15,25 ou 30 minutos</li>
                        <li>faca uma pausa de 5 min longe das telas</li>
                        <li>A cada 4 ciclos, faca uma pausa longa</li>
                    </ol>
                </details>
            </article>

            <article class="metodo">
                <div class="topo">
                    <span class="icone">%</span>
                    <span class="tag">Foco</span>
                </div>
                <h3>Pomodoro adaptável</h3>
                <p>Blocos curtos de foco com pausas planejadas. Você ajusta o tempo à energia do dia</p>
                <ul>
                    <li>$ 15-30 min</li>
                    <li>$ Energia: baixa a média</li>
                </ul>

                <details>
                    <summary>Como funciona</summary>
                    <ol>
                        <li>Escolha UMA tarefa pequena</li>
                        <li>Defina 15,25 ou 30 minutos</li>
                        <li>faca uma pausa de 5 min longe das telas</li>
                        <li>A cada 4 ciclos, faca uma pausa longa</li>
                    </ol>
                </details>
            </article>
        </section>

    </section>


    <!--Parte sobre da pagina-->
    <section class="sobre" id="sobre">
        <div class="lista">
            <div class="item active">
                <div class="car-img">
                    <img src="../static/img/ilustre.png" alt="Imagem carro">
                </div>

                <div class="carrocel">
                    <p class="car-information">
                        Programador Full Stack
                    </p>
                    <h2>
                        Isaak Thaylor
                    </h2>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit recusandae nihil accusamus at
                        dolorem eos quasi minus eius in voluptas harum natus necessitatibus, repudiandae est soluta
                        quia. Ab, magni vero.
                    </p>
                    <button class="information">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="car-img">
                    <img src="../static/img/ilustre.png"" alt="Imagem carro">
                </div>

                <div class="carrocel">
                    <p class="car-information">
                       Programador Front-End
                    </p>
                    <h2>
                        Alexsander Sales
                    </h2>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit recusandae nihil accusamus at
                        dolorem eos quasi minus eius in voluptas harum natus necessitatibus, repudiandae est soluta
                        quia. Ab, magni vero.
                    </p>
                    <button class="information">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="car-img">
                    <img src="../static/img/ilustre.png" alt="Imagem carro">
                </div>

                <div class="carrocel">
                    <p class="car-information">
                        Programador Back-End
                    </p>
                    <h2>
                        Cristopher 
                    </h2>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit recusandae nihil accusamus at
                        dolorem eos quasi minus eius in voluptas harum natus necessitatibus, repudiandae est soluta
                        quia. Ab, magni vero.
                    </p>
                    <button class="information"><a href="">Saiba Mais</a></button>
                </div>
            </div>


        </div>
        <div class="arrows">
            <button id="prev"><img src="style/img/arrow.png" alt="seta-esquerda"></button>
            <button id="next"><img src="style/img/arrow.png" alt="seta-direita"></button>
        </div>

        <div class="indicators">
            <div class="number">01</div>
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>>

    </section>



    <script src="../static/js/init.js"></script>
</body>
</html>