<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina teste</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#inicio">inicio</a>
            <a href="">Sobre nois</a>
            <a href="">Alguma coisa</a>
        </nav>
    </header>

    <section id="inicio" class="inicio">
        
        <div class="textoInicial">
            <p class="sombrancelha">Nome do site</p>
            <h1>Titulo impactante <br> blablabla</h1>
            <p class="subtitulo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore maxime nulla, molestiae corrupti voluptas impedit vitae voluptate incidunt sed eos suscipit iste ut aperiam dolor eligendi sit, distinctio minima fuga.</p>
            
            <div class="botoes">
                <button class="btn-prim" onclick="window.location.href='/login'" >Comece agora</button>
                <button class="btn-sec">Minhas tarefas</button>
            </div>
        </div>
        
        <div class="init-card">
            <p>Painel de hoje</p>
            <span class="big">15%</span>
        </div>
    </section>
</body>
</html>