<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina teste</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#inicio">inicio</a>
            <a href="">Sobre nois</a>
            <a href="">Alguma coisa</a>
        </nav>
    </header>

    <section id="inicio" class="inicio">
        
        <div class="textoInicial">
            <p class="sombrancelha">ORGANIZADOR DE TAREFAS</p>
            <h1>Quando tudo parece demais,<br> encontre o seu fluxo.</h1>
            <p class="subtitulo">Transforme o que você precisa estudar em um plano que realmente cabe no seu dia.<br> Com tempo para focar, respirar e continuar.</p>
            
            <div class="botoes">
                <button class="btn-prim" onclick="window.location.href='/loginPage'" >Comece agora</button>
                <button class="btn-sec">Saiba mais</button>
            </div>
        </div>
        
        <div class="init-card">
            <p>Painel de hoje</p>
            <span class="big">15%</span>
        </div>
    </section>
</body>
</html>