<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
        <section class="modal">

            <form action="/login" method="post">
                <label for="name">Nome de usuario</label>
                <input type="text" id="name" name="name" required>
                <label for="pass">Informe uma senha</label>
                <input type="password" id="pass" name="pass" required>
                <button type="submit">Entrar</button>
            </form>

            <div>
                <h2>Resultado retornado do Python</h2>
                <p>{{user}}</p>
                <p>{{senha}}</p>
            </div>

        </section>

</body>
</html>