<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js" defer ></script>
</head>
<body>
    <section class="container">

        {% with mensagens = get_flashed_messages(with_categories=true)%}
        {%for categoria,msg in mensagens%}
            <p class="msg {{categoria}}">{{msg}} </p>
        {% endfor %}
        {% endwith %}

        <div class="card LoginActive">
            <div class="esquerda">
                <div class="formLogin">
                    <h2>Fazer Login</h2>
                    <form action="/login" method="post">
                        <input type="text" id="email" name="email" placeholder="E-Mail">
                        <input type="password" id="pass" name="pass" placeholder="Senha">
                        <button class="Botao" type="submit">Entrar</button>
                    </form>
                </div>
                <div class="facaLogin">
                    <h2>Ja tem<br>uma conta?</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor voluptatum quisquam autem praesentium dignissimos tempora commodi rem non voluptatem quas ex dolorem soluta corrupti hic quos, dolore dicta. Maiores.</p>
                    <button class="loginButton">Faça Login</button>
                </div>
            </div>
            <div class="direita">
                <div class="formCadastro">
                    <h2>Cadastro</h2>
                    <form action="/cadastro" method="post">
                        <input type="text" name="nome" placeholder="Nome">
                        <input type="text" name="email" placeholder="E-Mail">
                        <input type="password" name="senha" placeholder="Senha">
                        <input type="password" name="confSenha" placeholder="Confirme sua senha">
                        <button class="Botao" type="submit">Cadastrar</button>
                    </form>
                </div>
                <div class="facaCadastro">
                    <h2>Não tem<br>uma conta?</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor voluptatum quisquam autem praesentium dignissimos tempora commodi rem non voluptatem quas ex dolorem soluta corrupti hic quos, dolore dicta. Maiores.</p>
                    <button class="cadastroButton">Cadastre-se</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>