:root {
  --bg: #050816;
  --texto: #eef0ff;
  --suave: #9aa3c7;
  --azul: #4da3ff;
  --roxo: #8b6cff;
  --rosa: #ff5fa2;
  --verde: #2fd4a0;
  --ouro: #ffb627;
  --vidro: rgba(255, 255, 255, .06);
  --borda: rgba(255, 255, 255, .12);
  --raio: 24px;}
*{
    box-sizing: border-box;
    margin: 0;}
body{
    font-family: 'Poppins', system-ui, sans-serif;
    padding: 22px;
    margin-bottom: 16px;
    background:
    radial-gradient(70% 50% at 80% 5%,rgba(255, 147, 147, 0.18),transparent 65%),
    radial-gradient(60% 50% at 15% 90%, rgba(145, 98, 255, 0.12),transparent 65%),
    radial-gradient(50% 40% at 50% 50%, rgba(40, 230, 255, 0.05),transparent 70%),#000000;
    color: var(--texto);
    min-height: 100vh;}
header{
    display: flex;
    align-items: center;
    justify-content: center;}
a{
    color: inherit;
    text-decoration: none;}



/*Parte do topo/cabeçalho*/
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 24px;}
.logo{
    display: flex;
    align-items: center;
    gap: 12px;}
.logoIcon{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(135deg, var(--roxo), var(--azul), black, var(--ouro));}
.logo small{
    display: block;
    font-size: .65rem;}
nav{
    display: flex;
    gap: 28px;
    margin-top: 2em;
    color: var(--suave);}
nav a:hover, nav .ativo{color:var(--texto);}
.btnEntrar{
    color: var(--suave);
    padding: 10px 28px 10px;
    border-radius: var(--raio);
    border: .6px solid black;
    background-image: linear-gradient(215deg, rgba(255, 8, 8, 0.798), rgba(0, 255, 255, 0.568));
    background-size: 0% 100%;
    cursor: pointer;
    color: black;
    background-repeat: no-repeat;
    transition: all .2s ease;
    font-size: 12px;}
.btnEntrar:hover{
    transition: all .2s ease;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transform: scale(1.1);
    background-size: 100% 100%;}


/*Parte do texto*/
.inicio{
    display: grid;
    max-width: 80vw;
    gap: 48px;
    align-items: center;
    padding: 22px 24px 20px;
    margin: 0 auto;}
.inicio p{
    max-width: 30vw;
    margin: 20px 0 30px;
    color: var(--suave);}
.selo{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    padding: 5px 14px;
    border: 1px solid var(--borda);
    border-radius: 999px;
    font-size: 0.75rem;
    color: var(--suave);}
h2{
    margin-top: 8px;
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: .01em;}
.grad{
    padding: 0px 8px;
    background: var(--roxo);
    border-radius: 20px;
    background-clip: text;
    color: transparent;}



/*FlashCard 3D*/
.hero{
    align-items: start;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    max-width: 80vw;
    gap: 48px;
    padding: 72px 24px 40px;
    margin: 0 auto;}
.flip{
    perspective: 1000px;
    height: 350px;
}
.flipInner{
    position: relative;
    transform-style: preserve-3d;
    transition:  .7s;
    height: 100%;
    width: 100%;
    
}
.flip:hover .flipInner, .flip:focus-visible .flipInner, .flip.virado .flipInner{
    transform: rotateY(180deg);
}
.face{
    position: absolute;
    inset: 0;
    padding: 20px;
    display: flex;
    backface-visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--raio);
    list-style-type: none;
    background: linear-gradient(135deg, #08580c23 , #02210d25);
    border: 1px solid #007a1e6a;
    box-shadow:
        0 0 5px #35ff6870;
}
.Verso{
    transform: rotateY(180deg);}
.face small{
    font-size: .7rem;
    letter-spacing: .15rem;
}
.face h2{
    font-size: 1.5rem;
    color: var(--azul);
    line-height: 1.25;}
.dica{
    font-size: 0.65rem;
    color: var(--suave);}

/*Ao lado dos cards*/

.sessao{
    align-items: center;
    margin: 0 auto;
    padding: 15px 25px;
    width: 100%;
    border: 1px solid var(--borda);
    background: var(--vidro);
    border-radius: var(--raio);
    bottom: 20px;}
.sessao h1{
    font-size: 1.05rem;
    letter-spacing: .05rem;
}
.sessao h3{
    font-size: 1.7rem;}
.sessao article{
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;}
.sessao article small{  
    font-size: .75rem;
    color: var(--suave);}
.acertos{color: rgb(23, 255, 31);}
.quase{color: rgb(230, 255, 45);}
.erros{color: rgb(252, 51, 51);}

.newFlash{
    display: grid;
    margin-top: 20px;
    padding: 28px;
    width: 100%;
    border: 1px solid var(--borda);
    background: var(--vidro);
    border-radius: var(--raio);}
.newFlash input{
    padding: 12px 14px;
    font-size: .80rem;
    letter-spacing: .03rem;
    border: none;
    width: 100%;
    outline: none;
    color: var(--texto);
    box-sizing: border-box;
    border-radius: 14px;
    background: var(--vidro);
    border: 1px solid var(--borda);}
.newFlash input::placeholder{
    font-size: .75rem;}

.newFlash label{
    font-weight: 500;
    font-size: .75rem;
    color: var(--suave);}
.newFlash h1{
    color: var(--texto);
    margin: 0 0 6px;
    font-size: 1.3rem;
    font-weight: 800;}
.newFlash button{
    padding: 12px;
    border-radius: 14px;
    width:100%;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
    text-shadow: 1px 2px 6px black;
    background: linear-gradient(125deg, #78ffbe94,#d176fb);
}

.cards{
    margin-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    border-radius: var(--raio);
    background: var(--vidro);
    border: 1px solid var(--borda);
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: .75rem;
    width: 100%;
}
.Acerto {
    background: rgba(100, 255, 86, 0.063);
    border: 1px solid #35ff6898;
    box-shadow:
        0 0 5px #35ff6872,
        0 0 10px rgba(53, 255, 104, 0.374),
        0 0 20px rgba(53, 255, 104, 0.191);}
.Quase{
    background: rgba(188, 255, 3, 0.06);
        box-shadow:
        0 0 5px #ffda357b,
        0 0 10px rgba(231, 255, 53, 0.407),
        0 0 20px rgba(255, 201, 53, 0.274);
    border: 1px solid #ffd50092;}
.Erro{
    background: rgba(255, 3, 3, 0.06);
        box-shadow:
        0 0 5px #ff353583,
        0 0 10px rgba(255, 53, 53, 0.372),
        0 0 20px rgba(255, 53, 53, 0.4);
    border: 1px solid #ff00007a;}

.cardaut{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 20px;
    border-radius: var(--raio);
    background: var(--vidro);
}

.cardaut button{
    padding: 12px;
    border-radius: 14px;
    width:100%;
    font-size: .75rem;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s;
    background: linear-gradient(125deg, #ff212194,#004af8);}
.cardaut button:hover{
    transform: scale(1.03);
    transition: all .3s;}
